@font-face {
  font-family: "Raleway";
  src: url("./Raleway-Light.ttf");
  font-weight: "300";
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("./Raleway-Regular.ttf");
  font-weight: "400";
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("./Raleway-Medium.ttf");
  font-weight: "500";
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("./Raleway-SemiBold.ttf");
  font-weight: "600";
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("./Raleway-Bold.ttf");
  font-weight: "700";
  font-display: swap;
}
